button {width:250px; background-color:blue; color:white; font-weight:bold; padding:16px; font-size:1.25em; border:none; cursor:default}
.down:not(.side) {position:relative; display:inline-block}
.cont {display:none; text-align:left; font-weight:bold; position:absolute; background-color:none; min-width:250px}
.cont a {color:lime; background-color:blue; padding:12px 16px; text-decoration:none; display:block}
.cont a:hover {background-color:lime; color:blue}
.down:hover .cont {display: block}
.down:hover button {background-color:lime; color:blue}
h1 {text-align:center; color:red}